.list-itemKitchen {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border: none;
    padding: 10px 15px 10px 15px;
    background-color:#fff;
    border-radius: 15px;
    align-items: center;
    color: black;
}

.btn-edit-kitchen {
    margin: 5px;
    background-color: #3D3739;
    border-radius: 20px;
    border-color: black;
}

.btn-delete-kitchen {
    margin: 5px;
    background-color: #3D3739;
    border-radius: 20px;
    border-color: black;
}