.add-area-btn{
    margin:5px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #E8624F;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 5px 15px 5px 15px;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.formKitchen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.area-input {
    width: 65%;
    padding: 15px 10px 10px 20px;
    margin: 10px;
    font-size: 15px;
    border: 1px solid #FFF;
    outline: none;
    border-radius: 5px;
}
