.close-order__wrapper {
  background: lightblue;
  padding: 1rem;
}
.close-order_btn {
  margin: 1rem;
}

/* .pag o {
  width: 50%;
  position: relative;
}
.up-style {
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;
}
.App {
  background-image: url('./bgRestaurant.png');
  max-width: 800px;
  margin-top: 10px;  
  margin-bottom: 10px;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 20px;
}
.in {
  border-radius: 15%;
}
.cuerpo {
  background: #9796f0; /* fallback for old browsers */ /*
  background: -webkit-linear-gradient(
    to right,
    #fbc7d4,
    #9796f0
  ); /* Chrome 10-25, Safari 5.1-6 */ /*
  background: linear-gradient(
    to right,
    #fbc7d4,
    #9796f0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ /*
}

.añadir {
  margin-top: 10px;
  margin-left: 10px;
}

.eliminar {
  margin-top: 10px;
  margin-left: 10px;
} */
