.login-form-content{
 width: 80% !important;
 margin: 0 auto !important;
 padding: 10px !important;
 margin-top: 10px !important;
 border-radius: 10px !important ;


-webkit-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.75);
}

.imgLogo{
    margin: 15px !important;
    padding: 5px !important;
}
    

.login-container{
    height:100% !important; 
    width:100% !important;
    background-image: url(../../assets/backgroundWood2.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
        
}

  