.login-form-content{
 width: 80%;
 margin: 0 auto ;
 padding: 10px;
 margin-top: 10px;
 border-radius: 10px;



-webkit-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.75);
}

.imgLogo{
    margin: 15px;
    padding: 5px;
}
    
.enterButton{
    margin-top: 15px;
    /*height: 50px;
    width: 100px;*/
    border-radius: 5px;

    background-color: var(--color-main);
    border-color: var(--color-main) ;
}

.login-container{
    height:100%; 
    width:100%;
    background-image: url(../../assets/backgroundWood2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        
}

  