.form-home-delivery{
    

}

.margin-0-home-delivery{
}

.footer-home-delivery{
    background-color:#CB5F5F;
    padding:20px;
}

.header-home-delivery {
  padding: 10px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../assets/shrimp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  

