
.container-kitchen{
   /* background-image: url('../../assets/backgroundBlue.png');
    background-size: cover;
    background-repeat: no-repeat;*/
    padding: 20px;
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    height: 100%;
   /* box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    align-items: center;
    display: block;
    */
}

.headerCRUD{
    box-sizing: border-box;
    border-radius: 5px;
    background-image: url('../../assets/backgroundBlue.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 95%;
}

.listKitchen {
    width: 85%;
    margin: auto;
    overflow: hidden;
    overflow-y: auto;
   /* max-height: 440px;*/
}

.headerKitchen{
    color: #ccc;
    font-weight: 300;
    text-align: center;
    margin: 0px 20px 20px 20px;

}

/*.btnModal{
    position: relative;
    border-radius: 5px;
    margin:10px;
}*/

.btnModal{
    display:scroll;
    bottom:60px;
    right:5px;
    z-index: 40;
    position:fixed;
    padding-top: 10px;
}
.no-areas {
    color: red;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
