/*.container-kitchen{
    
    background-color: #292f38;
    width: 40%;
    min-width: 450px;
    margin:15px;
    height: 80%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    align-items: center;
    display: block;
      
}

.headerKitchen{
    color: #ccc;
    font-weight: 300;
    text-align: center;
    margin: 50px 20px 60px 20px;
    font-family: 'Josefin Slab', serif;
     
}

.formKitchen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.listKitchen {
    width: 90%;
    margin: auto;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.no-areas {
    color: #777;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.area-input {
    width: 350px;
    min-width: 250px;
    padding: 15px 10px 10px 20px;
    margin-right: 10px;
    font-family: 'Josefin Sans', serif;
    font-size: 15px;
    color: #ccc;
    background-color: #1d222b;
    border: 1px solid #444;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.add-area-btn {
    margin:10px;
    min-width: 100px;
    background-color: #790e43;
    color: #ccc;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
}

.buttonsKitchen {
    display: flex;
}


.list-itemKitchen {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding-bottom: 5px;
}
  
  .list-itemKitchen span {
    color: #999;
}
  
  .area-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
  
  .btn-delete  {
    font-size: 16px;
    color: #bbb;
    margin-right: 20px;
}
  
  .btn-edit  {
    font-size: 16px;
    color: #bbb;
    margin-right: 20px;
}
  */

.container-kitchen{
    background: #D0CFD4;
    padding: 30px;
    width: 50%;
    min-width: 450px;
    margin:15px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    align-items: center;
    display: block;
}

.btn-edit{
    margin: 5px;
    background-color: #3D3739;
}

.btn-delete{
    margin: 5px;
    background-color: #3D3739;
}

.buttonsKitchen {
    display: flex;
}

.formKitchen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.listKitchen {
    width: 90%;
    margin: auto;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.list-itemKitchen {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border: none;
    padding: 10px 15px 10px 15px;
    background-color:#fff;
    border-radius: 15px;
    align-items: center;
}

.add-area-btn{
    margin:10px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: #80EDEC;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 5px 15px 5px 15px;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.headerKitchen{
    color: #ccc;
    font-weight: 300;
    text-align: center;
    margin: 50px 20px 60px 20px;

}