@media print {

  .ant-layout-sider {
    display: none !important;
    margin: 10;
  }

  @page {
    margin-right: 150mm;
    height: 14.6cm;
    width: 14cm;
  }

  #Button-print {
    display: none !important;
  }
}

.Container-ticket {
  padding-left: 50px;
}

.Space-span {
  display: block;

}

.Table-ticket {
  border-spacing: 0 0.5em;
}

.Table-ticket thead th {
  padding-right: 15px;
}

.Table-ticket .datos-pago td {
  padding-top: 20px;
  border-top: 1px solid black;
}