.mitad{
    
    display:inline-flex ;
    margin: 3%;

}

.boto{
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 0.5em;
    margin-left: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.MainWrapper{
    background: url('../../assets/Rectangle_123.png') top, url('../../assets/Rectangle_124.png') bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 100vh;

    font-size: 18px;
    padding: 20px;
}

/* UserCard css */
.UserCardAvatar{
    width: 20% !important;
}

.UserCard{
    border: 1px solid #54545467;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    max-width: 300px;
    width: 300px;
    display: flex;
    text-align: center;
}
.UserText{
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
    text-align: center;
    width: 80%;
    justify-content: center;
}
.UserCardWrapper{
    display: flex;
    flex-wrap: wrap;
}


@media only screen and (min-width: 800px) {
    .MainWrapper {
      background-size: 100% 200px;
    }
  }

  /* Estilos css de tab ANTDesign*/
  .card-container p {
    margin: 0;
  }
  .card-container > .ant-tabs-card .ant-tabs-content {
    margin-top: -16px;
  }
  .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
  }
  .card-container > .ant-tabs-card > .ant-tabs-nav::before {
    display: none;
  }
  .card-container > .ant-tabs-card .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
  }
  .card-container > .ant-tabs-card .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
  }