
.espacio{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;;
}
.mitad{
    
    display:inline-flex ;
    margin: 3%;

}

.boto{
    background-color: #fff;
    border-radius: 100%;
    margin: 1rem;
}
